#  Spotify API credentials 
#  GET these from https://developer.spotify.com/dashboard/applications
SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret
SPOTIFY_REFRESH_TOKEN=your_refresh_token

# Resend API key
RESEND_API_KEY= your_resend_api_key
CONTACT_RECEIVER_EMAIL= your_email

